@import 'inc/variables';
@import 'inc/header';
@import 'inc/footer';

/* page content styling */
section[role="banner"]
{
  position: relative;
  min-height: 100vh;
  background: url("/imgs/pc-4136383_1920.jpg") no-repeat center bottom fixed;
  background-size: cover;
  color: white;
  & .filter {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-color:#00000054;
    z-index: 1;
  }
}
section[role="banner"] .btn
{
  background: #0E3E61;
  color: white;
}
#top-banner-title {
  filter: blur(#0E3E61,0.5);
  color: white;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}
#top-banner-title > span {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}
// styling statistics
.stat-row {
  & div {
    color: $dark_bleu;
    font-size: 1.5rem;
  }
  & p {
    color: $dark_brouwn;
  }
  & .stat-value {
    color: $dark_bleu;
    font-weight: bold;
    font-size: 1.6rem;
  }
}
/*
  styling latest products
*/
.double-border
{
  position: relative;
}
.double-border::after
{
  position: absolute;
  content: " ";
  left: 0;
  right: 50%;
  bottom: -8px;
  height: 3px;
  background: #ED5B18;

}
.quality-element{
  & .icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    font-size: 1.5rem;
    border-radius: 100%;
    padding-top: 6px;
    background-color: white;
    color: $dark_bleu;
  }
}
.section-title
{
  border-bottom: solid 3px #ED5B18;
  color: #0E3E61;
  font-weight: bold;
}

@import 'inc/product_card';

/*
dark green : #10554d
#A13200
#0E6128
blue : #0E3E61
*/
