body {
  font-family: "Roboto", sans-serif;
}

.inline-list {
  list-style: none;
}

.inline-list li {
  display: inline;
}

/*decorate social media icons*/

#h-social-links li i[class*=fa-facebook] {
  color: #0817e6;
}

#h-social-links li i[class*=fa-twitter] {
  color: #24abe9;
}

#h-social-links li i[class*=fa-instagram] {
  color: #e9bb24;
}

.phone-number {
  color: #A13200;
  font-weight: bold;
}

.top-header-icons {
  padding-right: 0.2rem;
  font-size: 20px;
  color: #0E3E61;
}

#h-social-links li a :hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

/* styling navbar*/

.navbar-bg {
  background-color: #0E3E61;
}

.navbar .navbar-brand {
  font-family: "Press Start 2P", cursive;
  font-size: 0.9rem;
}

.navbar .active {
  font-weight: bold;
}

.navbar-bg .navbar-text {
  color: #A13200;
}

.navbar-toggler {
  border: none;
  cursor: pointer;
}

.navbar-drop-button {
  display: block;
  width: 20px;
  height: 3px;
  background: white;
  margin-bottom: 2px;
  border-radius: 20%;
}

.navbar-drop-button:last-child {
  margin-bottom: 0;
}

#chart-link {
  display: inline;
}

#root {
  min-height: 95vh;
}

/* styling footer */

#main-footer {
  background-color: #A13200;
  color: white;
}

#main-footer ul {
  list-style: none;
}

#main-footer a {
  color: white;
}

.footer-section-title {
  font-family: "Press Start 2P", cursive;
  color: #ED5B18;
}

/* page content styling */

section[role=banner] {
  position: relative;
  min-height: 100vh;
  background: url("/imgs/pc-4136383_1920.jpg") no-repeat center bottom fixed;
  background-size: cover;
  color: white;
}

section[role=banner] .filter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000054;
  z-index: 1;
}

section[role=banner] .btn {
  background: #0E3E61;
  color: white;
}

#top-banner-title {
  -webkit-filter: blur(#0E3E61, 0.5);
          filter: blur(#0E3E61, 0.5);
  color: white;
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
}

#top-banner-title > span {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
}

.stat-row div {
  color: #0E3E61;
  font-size: 1.5rem;
}

.stat-row p {
  color: #A13200;
}

.stat-row .stat-value {
  color: #0E3E61;
  font-weight: bold;
  font-size: 1.6rem;
}

/*
  styling latest products
*/

.double-border {
  position: relative;
}

.double-border::after {
  position: absolute;
  content: " ";
  left: 0;
  right: 50%;
  bottom: -8px;
  height: 3px;
  background: #ED5B18;
}

.quality-element .icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  font-size: 1.5rem;
  border-radius: 100%;
  padding-top: 6px;
  background-color: white;
  color: #0E3E61;
}

.section-title {
  border-bottom: solid 3px #ED5B18;
  color: #0E3E61;
  font-weight: bold;
}

/* styling product card */

#products .product-container {
  color: black;
  position: relative;
  width: 100%;
}

#products .product-container:hover {
  text-decoration: none;
}

#products .product-container:hover .product-container:after {
  content: "Voir Details";
  padding: 0.9rem 0.5rem;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  display: block;
  width: 95%;
  background: #0E3E61;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 500;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}

#products .product-container:hover .product-container:before {
  position: absolute;
  background: rgba(161, 50, 0, 0.42);
  display: block;
  content: "";
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation: hidder-animation 0.9s;
          animation: hidder-animation 0.9s;
}

@-webkit-keyframes hidder-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hidder-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    -webkit-transform: translate(-25%, -50%);
            transform: translate(-25%, -50%);
    opacity: 0;
  }

  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes fade-in {
  from {
    -webkit-transform: translate(-25%, -50%);
            transform: translate(-25%, -50%);
    opacity: 0;
  }

  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.product-image {
  max-height: 250px;
}

.product-title {
  color: #0E3E61;
}

.product-descr {
  margin-bottom: 50px;
}

.product-price {
  text-align: center;
  font-weight: bold;
  color: #0E3E61;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.proudct-price-number {
  color: #A13200;
  font-weight: 300;
}

.product-price-discount {
  text-decoration: line-through;
  color: gray;
}

/*
dark green : #10554d
#A13200
#0E6128
blue : #0E3E61
*/

