#comments .comments-banner {
    color:$dark_bleu;
    font-family: "Press Start 2P", cursive;
    text-align: center;
}
#comments .add-comment-title{
    text-align: center;
    font-weight: bold;
    color:$dark_brouwn;
}
#comments form label {
    font-weight: lighter;
    color:$dark_bleu;
}

.comment-owner {
    font-size: 1.2rem;
    color: $dark_bleu;
    font-weight: bold;
}
.comment-time {
    font-size: .9rem;
    color:$dark_brouwn;
    font-weight: lighter;
}
