/* styling footer */
#main-footer
{
  background-color: $dark_brouwn;
  color: white;
}
#main-footer ul
{
  list-style: none;
}
#main-footer a {
  color: white;
}
.footer-section-title
{
  font-family: 'Press Start 2P', cursive;
  color : $light_brouwn;
}