/* styling footer */
#main-footer
{
  background-color: #A13200;
  color: white;
}
#main-footer ul
{
  list-style: none;
}
#main-footer a {
  color: white;
}
.footer-section-title
{
  font-family: 'Press Start 2P', cursive;
  color : #ED5B18;
}