@import '../inc/header';
@import '../inc/footer';

/* styling products table */
#products-table thead tr td {
    text-align: center;
    font-weight: bold;
    color: #0E3E61;
}
#products-table tfoot td:first-child{
    color: #0E3E61;
    font-weight: bold;font-size: 1.3rem;
}
#products-table tfoot td:last-child{
    color: #A13200;
    font-weight: 300;
    font-size: 1.3rem;
}
#products-table td {
    vertical-align: middle;
}
#products-table .product-item td:nth-child(3),
#products-table .product-item td:nth-child(5){
    color: #A13200;
    font-weight: 300;
}
