@import '../inc/variables';
@import '../inc/header';
@import '../inc/footer';

/* styling products table */
#products-table thead tr td {
    text-align: center;
    font-weight: bold;
    color: $dark_bleu;
}
#products-table tfoot td:first-child{
    color: $dark_bleu;
    font-weight: bold;font-size: 1.3rem;
}
#products-table tfoot td:last-child{
    color: $dark_brouwn;
    font-weight: 300;
    font-size: 1.3rem;
}
#products-table td {
    vertical-align: middle;
}
#products-table .product-item td:nth-child(3),
#products-table .product-item td:nth-child(5){
    color: $dark_brouwn;
    font-weight: 300;
}
.product-item .product-title a{
    color:$dark_bleu;
    font-weight: bold;
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}