body {
    font-family: 'Roboto', sans-serif;
  }
.inline-list
{
  list-style: none;
}
.inline-list li
{
  display: inline;
}
/*decorate social media icons*/
#h-social-links li i[class*="fa-facebook"]
{
  color :rgb(8, 23, 230);
}
#h-social-links li i[class*="fa-twitter"]
{
  color :rgb(36, 171, 233);
}
#h-social-links li i[class*="fa-instagram"]
{
  color :rgb(233, 187, 36);
}
.phone-number
{
  color : $dark_brouwn;
  font-weight: bold;
}
.top-header-icons
{
  padding-right: .2rem;
  font-size: 20px;
  color : $dark_bleu;
}
#h-social-links li a :hover
{
  transform: translateY(-6px);
  transition: all ease .5s;
}
/* styling navbar*/
.navbar-bg {
  background-color : $dark_bleu ;
}
.navbar .navbar-brand
{
  font-family: 'Press Start 2P', cursive;
  font-size: .9rem;
}
.active {
  font-weight: bold;
}