@import '../inc/variables';
@import '../inc/header';
@import '../inc/footer';

/* styling product information */
#product-selected  h5 {
    font-weight: bold;
    color: $dark_bleu;
}
#product-selected .image >img {
    cursor: pointer;
}
#product-selected .attributes .attr {
    font-weight: bold;
    color: $dark_bleu;
}
#product-selected .price {
    font-size: 1.3rem;
}
#product-selected .label {
    font-weight: bold;
    color: $dark_bleu;
}
#product-selected .number {
    font-weight: 300;
    color: $dark_brouwn;
}
/* styling products might like*/
.product-migth-like {
    color: black;
}
.product-migth-like:hover{
    text-decoration: none;
}
.product-m-l-title h5 {
    color: $dark_bleu;
    font-weight: bold;
}
.product-m-l-title p > span:first-child {
    color: $dark_bleu;
    font-weight: bold;
}
.product-m-l-title p > span:last-child {
    font-weight: 300;
    color: $dark_brouwn;
}
