@import '../inc/variables';
@import '../inc/header';
@import '../inc/footer';

/* styling product information */
#product-selected  h5 {
    font-weight: bold;
    color: $dark_bleu;
}
#product-selected .image >img {
    cursor: pointer;
}
#product-selected .attributes .attr {
    font-weight: bold;
    color: $dark_bleu;
}
#product-selected .price {
    font-size: 1.3rem;
}
#product-selected .label {
    font-weight: bold;
    color: $dark_bleu;
}
#product-selected .number {
    font-weight: 300;
    color: $dark_brouwn;
}
/* styling products might like*/
.product-migth-like {
    color: black;
}
.product-migth-like:hover{
    text-decoration: none;
}
.product-m-l-title h5 {
    color: $dark_bleu;
    font-weight: bold;
}
.product-m-l-title p > span:first-child {
    color: $dark_bleu;
    font-weight: bold;
}
.product-m-l-title p > span:last-child {
    font-weight: 300;
    color: $dark_brouwn;
}
// styling statistics
#statistics  {
    & .rate h2 {
        color :$dark_bleu;
        & span {
            color: gray;
            font-size: 1rem;
        }
    }
    & .fa-star {
        color :darken(yellow, 10%);
    }
}
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-moz-progress-bar {
    /* Reset the default appearance */
    -moz-appearance: none;
    appearance: none;
    height: 9px;
    background-color: $dark_bleu;
    border-radius: 2px;
    border:none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-bar {
    /* Reset the default appearance */
    -moz-appearance: none;
    appearance: none;
    height: 9px;
    background-color: $dark_bleu;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
// styling comments
@import 'inc/comments';
