@import'../inc/variables';
@import '../inc/header';
@import '../inc/product_card';
@import 'inc/auto_completion';
section[role="banner"] {
    background : url('/imgs/nvidia-1201077_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* styling filter section */
#product-filter .form-group{
    font-weight: bold;
}
#product-filter .clearfix , #price-range{
    font-weight: lighter;
}
#price-range{
    text-align: center;
}
/* styling range input */
.range {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $dark_bleu;
    height: 10px;
    border-radius: 10%;
    &::-webkit-slider-thumb , &::-moz-range-thumb {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background-color: white;
        border: 2px solid $dark_bleu;
    }
}
@import '../inc/footer';
